{% extends "./base.html" %}
{% block content %}
    {% load static %}
    <form method="post" action="editProfile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container-xl px-4 my-4">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <!-- Profile picture image-->
                            {% if profile_form.image.value != 'userAccounts/user.png' %}
                                <img src="media/{{ profile_form.image.value }}" class="img-account-profile rounded-circle my-3" width="90px">
                            {% else %}
                                <img src="{% static 'userAccounts/user.png' %}" class="img-account-profile rounded-circle my-3" width="90px">
                            {% endif %}
                            <!-- Profile picture help block-->
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                            <!-- Profile picture upload button-->
                            {{ profile_form.image }}
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Account Details</div>
                        <div class="card-body">
                            <!-- Form Group (username)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="username">Username (how your name will appear to other users on the site)</label>
                                {{ user_form.username }}
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="first_name">First name</label>
                                    {{ user_form.first_name }}
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="last_name">Last name</label>
                                    {{ user_form.last_name }}
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="email">Email address</label>
                                {{ user_form.email }}
                            </div>
                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="phone_number">Phone number</label>
                                    {{ profile_form.phone_number }}
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="dob">Date of Birth</label>
                                    {{ profile_form.dob }}
                                </div>
                            </div>
                            <!-- Save changes button-->
                            <div class="row">
                                <div class="col-md-4 text-left">
                                    <button class="btn btn-secondary" type="reset">Reset</button>
                                </div>
                                <div class="col-md-8 text-right">
                                    <button class="btn btn-secondary" type="submit">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}