{% extends "./base.html" %}
{% block content %}
    {% load static %}

    {% if not registered %}
    <div class="col-md-6 mx-auto my-5">
        <div class="card">
            <div class="card-header bg-dark text-light">Register Account</div>
            <div class="card-body">
                <img class="rounded-circle img-fluid mx-auto my-3 d-block" width="30%" src="{% static 'userAccounts/user.png' %}">
                
                <!-- render user registeration form -->
                <form id="user_form" method="post" action="register" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Form Group (username)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="username">{{ user_form.username.label }}</label>
                        {{ user_form.username }}
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="first_name">{{ user_form.first_name.label }}</label>
                            {{ user_form.first_name }}
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="last_name">{{ user_form.last_name.label }}</label>
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    <!-- Form Group (email address)-->
                    <div class="mb-3">
                        <label class="small mb-1" for="email">{{ user_form.email.label }}</label>
                        {{ user_form.email }}
                        <!-- <input class="form-control" id="email" type="email" placeholder="Enter your email address"> -->
                    </div>
                    <!-- Form Row -->
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (password) -->
                        <div class="col-md-6">
                            <label class="small mb-1" for="password">{{ user_form.password.label }}</label>
                            {{ user_form.password }}
                            <!-- <input type="password" class="form-control" id="password1" placeholder="Enter your password"> -->
                        </div>
                        <!-- Form Group (confirm password) -->
                        <!-- <div class="col-md-6">
                            <label class="small mb-1" for="confirm_password">Confirm Password</label>
                            {{ user_form.confirm_password }}
                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password">
                        </div> -->
                    </div>
                    
                    <!-- Register button-->
                    <div class="text-right">
                        <input class="btn btn-dark text-light px-2" type="submit" name="submit" value="Register" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}